  .container {
    margin: 2rem;
  }

  .loader,
.loader:after {
  border-radius: 50%;
  width: 10em !important;
  height: 10em !important;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(63,255,232, 0.2) !important;
  border-right: 1.1em solid rgba(63,255,232, 0.2) !important;
  border-bottom: 1.1em solid rgba(63,255,232, 0.2) !important;
  border-left: 1.1em solid #3fffe8 !important;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

  /*.Restoration, .Guardian, .Feral, .Balance {
    color: #FF7D0A !important;
  }

  .Frost, .Unholy, .Blood {
    color: #C41F3B !important;
  }

  .Vengeance, .Havoc {
    color: #A330C9 !important;
  }

  .Marksmanship, .Survival, .BeastMastery {
    color: #ABD473 !important;
  }

  .Arcane, .Fire {
    color: 	#69CCF0	!important;
  }

  .Mistweaver, .Brewmaster, .Windwalker {
    color: #00FF96	!important;
  }

  .Assassination, .Sub, .Outlaw {
    color: #FFF569	!important;
  }

  .Resto, .Ele, .Enhance {
    color: #0070DE	!important;
  }

  .Affliction, .Destro, .Demonology {
    color: #9482C9 !important;
  }

  .Prot, .Arms, .Fury {
    color: #C79C6E	!important;
  }*/

  @media screen and (min-width: 1000px){
    .container {
      margin-top:2rem !important;
    }
  }
