  .container {
    margin: 2rem;
  }

  .loader {
      border: 8px solid #f3f3f3 !important; /* Light grey */
      border-top: 8px solid #00d1b2 !important; /* Blue */
      border-radius: 20%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }

  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  .iconPadding {
    padding-top: 33%;
  }

  /*.Restoration, .Guardian, .Feral, .Balance {
    color: #FF7D0A !important;
  }

  .Frost, .Unholy, .Blood {
    color: #C41F3B !important;
  }

  .Vengeance, .Havoc {
    color: #A330C9 !important;
  }

  .Marksmanship, .Survival, .BeastMastery {
    color: #ABD473 !important;
  }

  .Arcane, .Fire {
    color: 	#69CCF0	!important;
  }

  .Mistweaver, .Brewmaster, .Windwalker {
    color: #00FF96	!important;
  }

  .Assassination, .Sub, .Outlaw {
    color: #FFF569	!important;
  }

  .Resto, .Ele, .Enhance {
    color: #0070DE	!important;
  }

  .Affliction, .Destro, .Demonology {
    color: #9482C9 !important;
  }

  .Prot, .Arms, .Fury {
    color: #C79C6E	!important;
  }*/

  @media screen and (min-width: 1000px){
    .container {
      margin-top:2rem !important;
    }
  }
